<div class="container-fluid" style="margin-top: 120px">
  <app-InfoSection
    [title]="
      'Are You Leading a Sustainable Project and Want to Assess Its Carbon Potential?'
    "
    [paragraphs]="[
      'Our platform aims to support project leaders by evaluating the carbon dioxide (CO2) absorption potential of their initiatives.',
      'Find out how your green projects can contribute to reducing CO2 in the atmosphere and preserving our planet.'
    ]"
    [image]="'/assets/img/porteur-home.svg'"
    [imageAlt]="'Sustainable Project Image'"
    [buttonText]="'Submit Your Project'"
    [buttonLink]="'/' + RoutesEnum.NEW_PROJECT"
  >
  </app-InfoSection>

  <div class="title">• Your project •</div>
  <div class="mx-auto">
    <div class="section-title">The Nature Of Your Project</div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-border" routerLink="/pan">
          <div>
            <div class="project-title">Solar Photovoltaic Projects</div>
            <div style="float: right; height: 100px">
              <img
                src="/assets/img/porteur-1.svg"
                alt="Solar Project"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="project-description">
            Assess the annual energy capture potential of your solar
            photovoltaic panel project.​
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="project-border" routerLink="/arb">
          <div>
            <div class="project-title">Trees Plantation</div>
            <div style="float: right; height: 100px">
              <img
                src="/assets/img/porteur-2.svg"
                alt="Trees Project"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="project-description">
            Assess the annual carbon sequestration potential of your
            arboricultural or forestry project.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
