<div class="container responsive-container">
  <app-InfoSection
    [title]="'Are You Leading a Sustainable Project and Want to Assess Its Carbon Potential?'"
    [paragraphs]="[
      'Our platform aims to support project leaders by evaluating the carbon dioxide (CO2) absorption potential of their initiatives.',
      'Find out how your green projects can contribute to reducing CO2 in the atmosphere and preserving our planet.'
    ]"
    [image]="'/assets/img/porteur-home.svg'"
    [imageAlt]="'Sustainable Project Image'"
    [buttonText]="'Submit Your Project'"
    [buttonLink]="'/'+RoutesEnum.NEW_PROJECT">
  </app-InfoSection>

  <div class="title">• Your project •</div>
  <div class="section-title">The Nature Of Your Project</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-4">
        <div class="project-border" [routerLink]="'/'+RoutesEnum.PANNEAUX">
          <div class="project-header">
            <div class="project-title">Solar Photovoltaic Projects</div>
            <img src="/assets/img/porteur-1.svg" alt="" class="project-img">
          </div>
          <div class="project-description">
            Assess the annual energy capture potential of your solar photovoltaic panel
            project.
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="project-border" [routerLink]="'/'+RoutesEnum.ARBORICULTURE">
          <div class="project-header">
            <div class="project-title">Trees Plantation</div>
            <img src="/assets/img/porteur-2.svg" alt="" class="project-img">
          </div>
          <div class="project-description">
            Assess the annual carbon sequestration potential of your arboricultural or
            forestry project.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
