.project-border {
  width: 100%;
  max-width: 588px;
  border-radius: 8px;
  background: #F8F8F8;
  padding: 30px 35px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin: auto; /* Center on small screens */
}

.project-border:hover {
  transform: scale(1.02);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-title {
  font-size: 30px;
  font-weight: 700;
  font-family: Roboto;
  color: #000;
  padding-top: 15px;
  flex: 1;
}

.project-img {
  height: 100px;
  margin-left: 20px;
  flex-shrink: 0;
}

.project-description {
  color: #000;
  margin-top: 35px;
  font-size: 16px;
  font-family: Roboto;
  line-height: 20px;
}
.title{
  text-align: center;
  color: #76B82A;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 250% */
  letter-spacing: 3.5px;
  margin-top: 32px;
}
.section-title{
  text-align: center;
  color: #101828;
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 171.429% */

}
