<section class="info-section">
  <div class="container">
    <div class="row align-items-center g-4">
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="content-wrapper">
          <h2 class="section-title">{{ title }}</h2>
          <div class="paragraphs-container">
            <p
              *ngFor="let paragraph of paragraphs; let i = index"
              class="section-description"
              [style.animation-delay]="0.4 + i * 0.1 + 's'"
            >
              {{ paragraph }}
            </p>
          </div>
          <button class="cta-button" (click)="navigateToLink()">
            <span class="button-text">{{ buttonText }}</span>
            <div class="button-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M4.5 12H19.5M19.5 12L13.875 6M19.5 12L13.875 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="image-wrapper">
          <img
            class="section-image"
            [src]="image"
            [alt]="imageAlt"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
