<app-InfoSection
  [title]="'Measure Your Carbon Footprint and Act for a More Sustainable Future'"
  [paragraphs]="[
    'Use our tool to estimate your carbon footprint. Take our questionnaire to get a first real-time estimate of your greenhouse gas emissions.',
    'Answer a few simple questions about your energy consumption, fuel, travel, etc., and instantly get a first estimate of your Carbon Footprint.'
  ]"
  [image]="'/assets/img/carbone.jpg'"
  [imageAlt]="'Carbon Footprint Calculator Image'"
  [buttonText]="'Calculate My Carbon Footprint'"
  [buttonLink]="'/' + RoutesEnum.INFO">
</app-InfoSection>
