.container {
    margin-top: 8rem;
    position: relative;
}

.retour {
    margin-bottom: 10px;
    align-items: flex-start;
    border-radius: 20px;
}

.retour button {
    padding-left: 0px;
    border: none;
    background: transparent;
}

.retour-text {
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.nav {
    margin-top: 16px;
}
.cursor{
    cursor: pointer;
}

.default-font {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.grey-color {
    color: #999;
}

.modal-photo {
    width: 78px;
    height: 78px;
    border-radius: 5px;
}



.project-final-price {
    width: 91px;
    margin-top: 12px;
    margin-left: 12px;

}

.project-final-price-text1 {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project-final-price-text2 {
    color: #C5C1C1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.separator-modal {
    width: 98%;
    height: 1px;
    background: #D3D3D3;
    margin: 15px 0px;
}

.total {
    color: #000;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* 111.111% */
}

.paymentText {
    color: #999;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-format {
    width: 586px;
height: 46px;
flex-shrink: 0;
    margin-top: 32px;
    /* 218.75% */
}
.form-format{
    color: #98999D;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 218.75% */
margin-bottom: 16px;
}

.price {
    display: inline-flex;
}

.project-name {
    color: #000;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.quantity {
    margin-top: 10px;
    color: #6D6E6F;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.priceAndTrash{
    float: right;
    display: flex;
}

.price-text {
    
    color: #000;

    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.unity-text {
    color: #C5C1C1;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.formGroup{
    width: 700px;
}
.checkoutButtons {
    float: right;

}

.checkoutButton1 {
    padding: 5px 20px;
    align-items: flex-start;
    gap: 2px;
    border-radius: 5px;
    border: 1px solid #014131;
    background: transparent;
}

.checkoutButton2 {
    padding: 5px 20px;
    align-items: flex-start;
    gap: 2px;
    border-radius: 5px;
    background: #014131;
    border: transparent;
}

.checkoutButton1Text {
    color: #014131;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.checkoutButton2Text {
    color: #FFF;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}