.container {
  margin-top: 1rem;
  position: relative;
  margin-bottom: 50px !important;
}

@media (min-width: 768px) {
  .container {
    margin-top: 8rem;
    margin-bottom: 50px !important;
  }
}

.retour {
  margin-bottom: 10px;
  align-items: flex-start;
  border-radius: 20px;
}

.retour button {
  padding-left: 0px;
  border: none;
  background: transparent;
}

.retour-text {
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav {
  margin-top: 16px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

.cursor {
  cursor: pointer;
}

.default-font {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.grey-color {
  color: #999;
}

.modal-photo {
  width: 78px;
  height: 78px;
  border-radius: 5px;
  object-fit: cover;
}

.modal-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-final-price {
  width: 91px;
  margin-top: 12px;
  margin-left: 12px;
}

.project-final-price-text1 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.project-final-price-text2 {
  color: #C5C1C1;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.separator-modal {
  width: 98%;
  height: 1px;
  background: #D3D3D3;
  margin: 15px 0px;
}

.total {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paymentText {
  color: #999;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-format {
  width: 100%;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .input-format {
    max-width: 586px;
  }
}

.form-format {
  color: #98999D;
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 16px;
}

.price {
  display: inline-flex;
}

.project-name {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.quantity {
  margin-top: 10px;
  color: #6D6E6F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.priceAndTrash {
  float: right;
  display: flex;
}

.price-text {
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.unity-text {
  color: #C5C1C1;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formGroup {
  width: 100%;
  max-width: 700px;
}

.checkoutButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .row{
    margin-bottom: 20px;
  }
  .checkoutButtons {
    flex-direction: column;
    align-items: center;
  }

  .checkoutButton1, .checkoutButton2 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.checkoutButton1 {
  padding: 10px 20px;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  border: 1px solid #014131;
  background: transparent;
}

.checkoutButton2 {
  padding: 10px 20px;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  background: #014131;
  border: transparent;
}

.checkoutButton1Text {
  color: #014131;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.checkoutButton2Text {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*  Payment form stripe */
/* src/app/Component/payment/payment.component.css */
#stripe-payment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond assombri */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stripe-payment-modal {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  z-index: 1001;
}

#stripe-payment-form {
  display: block;
  width: 100%;
}

#stripe-payment-form h3 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#payment-element {
  margin-bottom: 20px;
}

.pay-button {
  background-color: #635bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

.pay-button:disabled {
  background-color: #a5a5a5;
  cursor: not-allowed;
}

.payment-error {
  color: #ff3d33;
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.success-message {
  color: #28a745;
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
