<app-nav-acceuil [selected]="1"></app-nav-acceuil>
<app-esg-header [currentQuestion]="currentQuestion"></app-esg-header>
<div class="container" style="display: flex; flex-direction: column; justify-content: space-between;margin-top: 50px;">
  <div *ngIf="warnUser" class="alert alert-warning alert-dismissible fade show" role="alert">
    You should select an answer!
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="warnUser=false"
            aria-label="Close"></button>
  </div>
  <h2 class="question-text">{{ question?.text }}<span class="text-span"> (Select the answer that best fits your business)</span>
  </h2>
  <div *ngFor="let option of options; let i = index"
       [ngClass]="{ 'custom-div-clicked': option.isSelected }"
       class="custom-div"
       style="box-sizing: border-box; border: 1px solid #939393; border-radius: 10px; align-items: center; margin-bottom: 30px; padding: 10px;"
       (click)="onDivClick(option)">
    <h6
      style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 300; font-size: 18px; line-height: 21px; margin: 0;">
      {{ option.text }}
    </h6>
  </div>
  <div style="display: flex; justify-content: right;" class="mb-3">
    <button class="go-back-btn" (click)="goBack()">Back</button>
    <button *ngIf="choiceSelected" (click)="addScoreAndNavigate()" class="continue-btn">Continue</button>
    <button *ngIf="!choiceSelected" class="continue-btn" (click)="warning()">Continue</button>
  </div>
</div>




