<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
</head>
<!-- src/app/Components/esgdiagram/esgdiagram.component.html -->
<div class="chart-container mx-auto">
  <canvas
    class="mx-auto"
    id="myChart1"></canvas>
  <div class="legend-container">
    <div class="legend-item">
      <span class="legend-color" style="background-color: rgba(1,65,49,0.25);"></span>
      <span>Environment</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: rgba(118,184,42,0.25);"></span>
      <span>Social</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: rgba(122,182,143,0.25);"></span>
      <span>Governance</span>
    </div>
  </div>
</div>

