<div class="pagination-container">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-button">
    Previous
  </button>
  <button *ngFor="let page of pages"
          (click)="changePage(page)"
          [class.active]="page === currentPage"
          [disabled]="page === -1"
          class="pagination-number">
    {{ page === -1 ? '...' : page }}
  </button>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="pagination-button">
    Next
  </button>
</div>
