<app-InfoSection
  [title]="'Estimate Your Event’s Carbon Footprint'"
  [paragraphs]="[
    'Assess the environmental impact of your event by analyzing key factors like energy usage, transportation, catering, and materials.',
    'Our carbon footprint calculator provides real-time estimates to help you make eco-friendly decisions.',
    'Take actionable steps to reduce emissions and create a more sustainable event experience.'
  ]"
  [image]="'/assets/img/event-footprint.jpg'"
  [imageAlt]="'Event Carbon Footprint Estimation Image'"
  [buttonText]="'Calculate My Event’s Carbon Footprint'"
  [buttonLink]="'/'+RoutesEnum.EVENT_FORM">
</app-InfoSection>
