<app-InfoSection
  [title]="'Predict Your Carbon Footprint'"
  [paragraphs]="[
    'Analyze your past carbon emissions and predict your footprint for the coming years based on historical data.',
    'Our intelligent forecasting tool helps you understand trends and make informed decisions to reduce emissions.',
    'Gain insights into future impact and optimize your sustainability strategies effectively.'
  ]"
  [image]="'/assets/img/prediction-info.webp'"
  [imageAlt]="'Carbon Footprint Prediction Image'"
  [buttonText]="'Start Prediction Analysis'"
  [buttonLink]="'/'+routesEnum.HISTORICAL_CARBON_FORECAST">
</app-InfoSection>
