<div style="overflow: auto;">
  <app-nav-acceuil [selected]="0"></app-nav-acceuil>
  <div style="position: relative; "
       [ngStyle]="{'background-image': 'url(/assets/Ecopilot/pan1.png)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'top center', 'width': '100%', 'height': '100%'}">
    <div
      [ngStyle]="{'background-image': 'url(/assets/img/pan1.png)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'top center', 'width': '100%', 'height': '50vh'}"
      style="padding-top: 7% ;">
      <p class="p1">Measure your carbon footprint and take action for a more sustainable future</p>
      <p class="p2">VGreen is your partner in the fight against climate change and the promotion of responsible
        practices</p>
    </div>
  </div>

</div>
<div class="container" style="margin-top: 80px; overflow-y: hidden;">
  <div class="column" style="overflow-y: hidden; height: auto;">
    <p class="pa1">Are you looking for a <span class="pa2">simple, easy and reliable solution</span> to engage your
      company in the sustainability journey?</p>
    <p class="pa5" style="width: 620px;">Our platform is designed to help you make relevant decisions regarding
      sustainability and implement concrete measures to reduce your environmental impact and strengthen your ESG
      performance. </p>
  </div>
  <div class="column" style="overflow-y: hidden; position: relative;">
    <img src="/assets/img/home_photo.jpg" width=100%>
  </div>
</div>

<div class="container" style="margin-top: 30px; overflow-y: hidden;">
  <div class="column" style="overflow-y: hidden; height: auto;">
    <img src="assets/img/ph3.svg" style=" width: 100%;  padding: 0; margin: 0;">
  </div>
  <div class="column" style="overflow-y: hidden; position: relative;justify-content: center; width: 601px;">
    <div class="section-title" style="margin-left: 40px; margin-top: 50px; ">• ESG criteria •</div>
    <h2 class="pa4" style="margin-left: 40px;">ESG Performance </h2>
    <div class="pa5" style="margin-left: 40px; width: 560px;      ">We provide an analysis of your ESG approach,
      highlighting your strengths and areas for improvement, along with a personalized roadmap to enhance your ESG
      position.​
    </div>
    <button class="bbtn" style="margin-left: 40px;" [routerLink]="'/esg'"><span class="ppa1">Calculate Your ESG Performance</span>
    </button>
  </div>
</div>
<div class="container" style=" overflow-y: hidden;">
  <div class="column" style="overflow-y: hidden; position: relative;justify-content: center">
    <div class="section-title" style="margin-top: 50px;">• Carbon Emission •</div>

    <h2 class="pa4" style="width: 550px;">Managing your carbon emissions</h2>
    <p class="pa5" style="width: 589px;">We offer a carbon footprint calculation tool that simplifies evaluating your
      activity's environmental impact through an easy-to-use questionnaire, streamlining the evaluation process.​ </p>
    <button style="width: 270px;" class="bbtn" [routerLink]="'/carbone'"><span class="ppa1">Calculate Your Carbon Emissions</span>
    </button>
  </div>
  <div class="column" style="overflow-y: hidden; height: auto;">
    <img src="assets/img/ph4.svg" style="width: 599px;  ">
  </div>
</div>
<div class="container" style=" overflow-y: hidden;">
  <div class="column" style="overflow-y: hidden; height: auto;">
    <img src="assets/img/ph5.svg" style="width: 100% ;">
  </div>
  <div class="column" style="overflow-y: hidden; position: relative;justify-content: center;">
    <div class="section-title" style="margin-left: 40px; margin-top: 80px;">• PROJECT OBJECTIVES •</div>
    <h2 class="pa4" style="margin-left: 40px;">Potential of green projects </h2>
    <div class="pa5" style="margin-left: 40px; ">Our platform offers ecological project leaders an assessment of the CO2
      absorption/reduction potential of their green initiatives.
    </div>
    <button class="bbtn" style="margin-left: 40px;" [routerLink]="'/porteur'"><span class="ppa1">Calculate your carbon reductions</span>
    </button>
  </div>

</div>
<div class="container">
  <div class="m-2 mt-5">
    <div class="mt-2" id="marketplace-title">• Sustainable Projects Marketplace •</div>
    <div id="marketplace-header">Explore the Carbon Credits Marketplace</div>
    <div id="marketplace-text">
      If you are looking to offset your carbon emissions by purchasing carbon credits, or if you wish to submit a
      sustainable project to sell your carbon credits on a voluntary pan-African market, you have come to the right
      place.​
    </div>
    <div class="row mt-5">
      <!-- todo projects carousel -->
    </div>
    <div>
      <button [routerLink]="'/marketplace'" class="explore-button">
        <div class="explore-button-text">
          Explore all the green projects
        </div>
      </button>
    </div>
  </div>
</div>



