.text-green {
  color: #76B82A;
}

.text-darkgreen {
  color: #014131;
}

.btn-green {
  background-color: #014131;
  border-color: #014131;
  color: white;
}

.btn-green:hover {
  background-color: #76B82A;
  border-color: #76B82A;
  color: #fff;
}

.btn-outline-green {
  border: 2px solid #014131;
  color: #014131;
  background-color: transparent;
}

.btn-outline-green:hover {
  background-color: #014131;
  color: white;
}

.headline-text {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-top: 7%;
}

.subheading-text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.section-heading {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #014131;
}

.highlight-text {
  background: linear-gradient(90deg, #76B82A -8.93%, #76B82A 41.05%, #014131 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-bottom: 40px;
}

.section-title {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #76B82A;
  letter-spacing: 3.5px;
  margin-bottom: 10px;
}

.marketplace-header {
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #101828;
  text-align: center;
}

.marketplace-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.explore-button {
  margin-left: 40%;
  margin-top: 24px;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 2px solid #014131;
  background-color: transparent;
}

.explore-button-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #014131;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.scaled-img {
  width: 100%;
  height: 400px;
  top: -50px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}


/* 📱 Responsive adjustments */
@media (max-width: 767px) {
  .section-heading {
    font-size: 24px;
    text-align: center !important;
  }

  .section-paragraph {
    font-size: 14px;
    text-align: center !important;
  }

  .section-title {
    text-align: center !important;
  }

  .btn-green,
  .btn-outline-green {
    width: 100%;
  }
}
