<!-- <div class="container contactUs">
    <div class="row">
        <div class="col-4">
            <img src="assets/value_green/logo_green.png"
                style="width: 150px; height: 42px; text-align: left; margin-top: 20px;">
            <div id="contactUsText">
                Our platform is designed to help you make relevant decisions regarding sustainability and implement concrete measures to reduce your environmental impact and strengthen your ESG performance. 

                    
            </div>
        </div>
        <div class="col-4">
            <h1 class="headerContactUs">Services</h1>
            <div id="serviceText">
                <div class="service link" style="margin-bottom: 8px;" routerLink="/esg1">ESG Performance</div>
                <div class="service link" style="margin-bottom: 8px;" routerLink="/carbone">Management of your carbon emissions</div>
                <div class="service link" style="margin-bottom: 8px;" routerLink="/porteur">Potential of green projects</div>
                <div class="service link" style="margin-bottom: 8px;" routerLink="/resources">Blogs</div>
            </div>
        </div>
        <div class="col-4">
            <div class="quote">
                <div id="quoteText1"><span id="quoteText2">« Be pioneers in commitment to the planet with VGreen. »</span></div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" style="margin-top: 100px;">
    <div class="d-flex justify-content-center">
        <img  src="/assets/img/logofooter.svg" alt="">
    </div>
    <div class="d-flex align-items-center  justify-content-center mt-5" style="gap: 100px;">
        <a class="footer-font">Terms & Conditions</a>
        <a class="footer-font">Privacy Policy</a>
        <a class="footer-font">Cookies Policy</a>
        <a class="footer-font">Contact Us</a>

    </div>
    <div class="d-flex justify-content-center ">
        <div class="seperator "></div>
    </div>
    <div class="d-flex align-items-center justify-content-center " style="gap: 26px; margin-bottom: 69px;">
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C15.87 2 19 5.13 19 9C19 14.25 12 22 12 22C12 22 5 14.25 5 9C5 5.13 8.13 2 12 2ZM7 9C7 11.85 9.92 16.21 12 18.88C14.12 16.19 17 11.88 17 9C17 6.24 14.76 4 12 4C9.24 4 7 6.24 7 9ZM12 11.5C10.6193 11.5 9.5 10.3807 9.5 9C9.5 7.61929 10.6193 6.5 12 6.5C13.3807 6.5 14.5 7.61929 14.5 9C14.5 10.3807 13.3807 11.5 12 11.5Z" fill="#014131"/>
            </svg>
            <div class="contact-text">
                60, av principale, Berges du Lac 1, Tunis
            </div>
        </div>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" fill="#014131"/>
            </svg>
            <div class="contact-text">
                contact.vgreen@value.com.tn
            </div>
        </div>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.33 14.9 16.22 14.89 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.38 15.93 8.06 13.62 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.7 6.45 8.5 5.25 8.5 4C8.5 3.45 8.05 3 7.5 3Z" fill="#014131"/>
            </svg>
            <div class="contact-text">
                + 216 58 353 479
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span class="footerParagraph1">Copyright© VGreen 2023</span>
    <span class="footerParagraph2">
        <img src="/assets/img/Linkedin.svg" alt="Linkedin">
        <img src="/assets/img/Instagram.svg" alt="Linkedin">
    </span>
</div>