<link rel="shortcut icon" href="/src/assets/Ecopilot/icon.png" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="/assets/img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
      href="/assets/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
      href="/assets/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
      href="/assets/img/apple-touch-icon-144x144-precomposed.png">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!-- GOOGLE WEB FONT -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
<script src="https://kit.fontawesome.com/28bdde147c.js" crossorigin="anonymous"></script>

<link href="/assets/css/custom.css" rel="stylesheet">
<script src="/assets/js/modernizr.js"></script>
<!--<div id="navbar" style="background-color: white; backdrop-filter: blur(0);">
  <br>
  <a routerLink=""><img src="../../../assets/Ecopilot/ecopilot_logo.png" class="" alt=""
                        style=" width: 100px; height: 60px; margin-left: 20px;"></a>
  <a [ngClass]="{ 'selected': selected===0}" class="fff nav-item dropdown" routerLink="">Home</a>
  <a [ngClass]="{ 'selected': selected===1}" class="fff nav-item dropdown dropdown-toggle"
     id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Assessment tools</a>
  &lt;!&ndash; <a  [ngClass]="{ 'selected': selected===2}" class="fff nav-item dropdown" routerLink="/carbone">Carbon Footprint</a>
  <a  [ngClass]="{ 'selected': selected===3}" class="fff nav-item dropdown" routerLink="/porteur">Green Projects</a> &ndash;&gt;
  <a [ngClass]="{ 'selected': selected===5}" class="fff nav-item dropdown" routerLink="/marketplace">Marketplace</a>
  <a [ngClass]="{ 'selected': selected===4}" class="fff nav-item dropdown" routerLink="/resources">VGreen Knowledge</a>
  <ul class="dropdown-menu" style="width: 280px; height: 180px;" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="fff dropdown-item" routerLink="/carbone" style="margin-left: 0px;">Carbon Footprint Calculator</a>
    </li>
    <li><a class="fff dropdown-item" routerLink="/porteur" style="margin-left: 0px;">Carbon Offset Projects</a></li>
    <li><a class="fff dropdown-item" routerLink="/esg" style="margin-left: 0px;">ESG Assessment</a></li>
  </ul>
  <button routerLink="/marketplace" class="abonnez-button">Marketplace</button>
  <div style="height: 10px"></div>
</div>-->


<nav class="navbar navbar-expand-lg navbar-light bg-white mx-auto w-100 fs-6">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/Ecopilot/ecopilot_logo.png" alt="Logo" style="width: 100px; height: 60px;border-radius: 4px">
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex flex-row align-items-center w-100">
        <div class="d-md-flex me-md-auto">
          <li class="nav-item">
            <a class="nav-link fff" [ngClass]="{ 'selected': selected===0}" routerLink="">Home</a>
          </li>
          <li class="nav-item dropdown fff">
            <a class="nav-link dropdown-toggle"
               [ngClass]="{ 'selected': selected===1}"
               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Assessment tools
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/carbone">Carbon Footprint Calculator</a></li>
              <li><a class="dropdown-item" routerLink="/porteur">Carbon Offset Projects</a></li>
              <li><a class="dropdown-item" routerLink="/esg1">ESG Assessment</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fff" [ngClass]="{ 'selected': selected===5}" routerLink="/marketplace">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fff" [ngClass]="{ 'selected': selected===4}" routerLink="/resources">VGreen Knowledge</a>
          </li>
        </div>
        <li class="nav-item ms-md-auto">
          <a class="nav-link fff" [ngClass]="{ 'selected': selected===6}" routerLink="/checkout">
            <i class="fas fa-shopping-cart text-black w-100"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
