<div class="cart-details fixed-on-right">
  <span id="priceText">Price</span><span class="pricePerCo">{{ project?.cost }}<span id="cart-text">/tCO2e</span></span>
  <div class="separator"></div>
  <div class="montant">
    <span class="montant-text">Amount</span>
    <span class="montant-input mt-2">

<div (click)="onDecreaseQuantity()" class="quantity-button decrease">
  -
</div>
<span class="montant-input-text">{{ quantity }} tCO2e</span>
<div (click)="onIncreaseQuantity()" class="quantity-button increase">
  +
</div>
    </span>
  </div>
  <div class="separator"></div>
  <div class="stock">
    <span class="stock-text">Available stock</span>
    <span class="stock-number">{{ project?.availableStock }}</span>
  </div>
  <div class="separator"></div>
  <div class="achat">
    <span class="achat-text">Minimum purchase</span>
    <span class="achat-quantity">{{ project?.minimumPurchase }} tons</span>
  </div>
  <div class="separator"></div>
  <button class="button-achat mt-3" [routerLink]="'/checkout'"><span class="button-achat-text">Buy now</span><span
    class="button-achat-amount">{{ Number(project?.cost) * quantity }}</span></button>
  <div class="mt-3">
    <button
      [disabled]="quantity == 0"
      (click)="onAddingToCart()"
      class="button-panier"
      [ngClass]="{ 'enabled-button': quantity > 0 }">
  <span class="button-panier-text" data-bs-toggle="modal" >
    Add to cart
  </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" fill="#014131"/>
      </svg>
    </button>
    <br>
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      Item added to cart successfully!
    </div>

  </div>
</div>

