.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 40px;
  width: 100%;
}

.box {
  height: 40px;
  border-radius: 5px;
  position: relative;
  width: 45%;
  margin: 10px;
}

.box img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.env {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  font-style: normal;
  line-height: 21px;
  width: 107px;
  height: 21px;
  position: absolute;
  bottom: -40px; /* Adjust the value based on your needs */
  left: 50%;
  transform: translateX(-50%);
  color: #6D6D6D;
  margin-left: 5px;
}

.green {
  background-color: #014131;
}

.grey {
  background-color: #F2F2F2;
}


.number {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
}
.bar {
  width: 7px;
  height: 39px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: #01413133;
}







.bar.active {
  background-color: #014131; /* Your green color */
 
}
.box.grey.social {
 background-color: #87C4E4;

}
.box.grey.governance {  
  background-color: #FECD7C;
 }