<app-InfoSection
  [title]="'Evaluate your ESG Performance'"
  [paragraphs]="[
    'Evaluate your overall environmental, social, and governance performance. ECOPILOT is here to support you in managing your ESG efforts.',
    'We offer a comprehensive ESG positioning assessment tool that guides you in developing a strategic ESG roadmap.',
    'This tool enables you to identify your strengths and areas for improvement, facilitating the implementation of effective strategies.'
  ]"
  [image]="'/assets/img/esg.svg'"
  [imageAlt]="'ESG Image'"
  [buttonText]="'Calculate my ESG performance'"
  [buttonLink]="['/esg-assessment', 1]" >
</app-InfoSection>
