<div class="transactions-container mt-5">
  <h2>My Transactions</h2>
  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Country</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td><img [src]="transaction.flag"></td>
        <td>{{ transaction.country }}</td>
        <td>{{ transaction.cost | currency:'USD' }}</td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.date.toLocaleString() }}</td>
        <td>Nothing</td>
        <td>
          <button (click)="printInvoice(transaction)" class="print-btn">Print</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
