<app-nav-acceuil [selected]="1"></app-nav-acceuil>
<div class="container-fluid full-height" style="margin-top: 50px;">
  <div class="row row-height">
    <div class="col-lg-6 content-left1">
      <div class="content-left-wrapper">
        <img src="assets/img/Carburant.png" class="img-title" id="descriptionImage"/>
        <h2 id="descriptionTitle">Fuel consumption</h2>
        <p id="descriptionText">Complete the fields to evaluate your company's fuel footprint.</p>
      </div>
    </div>
    <div class="col-lg-6 content-right" id="start" style="overflow-y: hidden;">
      <div id="wizard_container">
        <form [formGroup]="carburantForm" (ngSubmit)="onNext()">
          <div class="step mb-3 pb-3">
            <h3 class="main_question"><strong>3/7</strong> Enter the company's annual fuel consumption</h3>
            <!-- Error Message Display -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="essence" placeholder="Gasoline (Liters)">
              <div *ngIf="carburantForm.get('essence')?.invalid && carburantForm.get('essence')?.touched"
                   class="error-message  text-danger">
                Gasoline is required.
              </div>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" formControlName="diesel" placeholder="Diesel (Liters)">
              <div *ngIf="carburantForm.get('diesel')?.invalid && carburantForm.get('diesel')?.touched"
                   class="error-message text-danger">
                Diesel is required.
              </div>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" formControlName="gpl" placeholder="LPG (Liters)">
              <div *ngIf="carburantForm.get('gpl')?.invalid && carburantForm.get('gpl')?.touched" class="error-message text-danger">
                LPG is required.
              </div>
            </div>


            <div class="form-group">
              <input type="number" class="form-control" formControlName="kilometrage"
                     placeholder="Driven distance (Km)">
              <div *ngIf="carburantForm.get('kilometrage')?.invalid && carburantForm.get('kilometrage')?.touched"
                   class="error-message text-danger">
                Distance is required.
              </div>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" formControlName="efficacite"
                     placeholder="Vehicle fuel efficiency (L/100Km)">
              <div *ngIf="carburantForm.get('efficacite')?.invalid && carburantForm.get('efficacite')?.touched"
                   class="error-message text-danger">
                Efficiency is required.
              </div>
            </div>

            <div class="form-group ">
              <select class="nice-select wide mb-3" formControlName="typeCarburant">
                <option value="" disabled selected>Carburant Type</option>
                <option class="option" [value]="TypeCarburant.Diesel">Diesel</option>
                <option class="option" [value]="TypeCarburant.Essence">Gasoline</option>
                <option class="option" [value]="TypeCarburant.Gpl">LPG</option>
              </select>
              <div *ngIf="carburantForm.get('typeCarburant')?.invalid && carburantForm.get('typeCarburant')?.touched"
                   class="error-message text-danger">
                Please select a fuel type.
              </div>
            </div>
          </div>

          <div id="bottom-wizard2 mb-2 pb-2">
              <button type="button" class="backward" routerLink="/energie">Back</button>
              <button type="submit" class="forward" (click)="onNext()">Continue</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



