<div class="container-fluid full-height" style="margin-top: 50px;">
  <div class="row row-height">
    <div class="col-lg-6 content-left1">
      <div class="content-left-wrapper">
        <img src="assets/img/Carburant.png" class="img-title" id="descriptionImage"/>
        <h2 id="descriptionTitle">Fuel consumption</h2>
        <p id="descriptionText">Complete the fields to evaluate your company's fuel footprint.</p>
      </div>
    </div>
    <div class="col-lg-6 content-right" id="start" style="overflow-y: hidden;">
      <div id="wizard_container">
        <form [formGroup]="carburantForm" (ngSubmit)="onNext()">
          <div class="step mb-3 pb-3">
            <h3 class="main_question"><strong>3/7</strong> Enter the company's annual fuel consumption</h3>
            <!-- Error Message Display -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <!-- Diesel Fuel Consumption -->
            <div class="form-group">
              <input type="number" class="form-control" formControlName="dieselFuelConsumption" placeholder="Diesel (Liters)">
              <div *ngIf="carburantForm.get('dieselFuelConsumption')?.invalid && carburantForm.get('dieselFuelConsumption')?.touched"
                   class="error-message text-danger">
                Diesel is required.
              </div>
            </div>

            <!-- Gasoline Fuel Consumption -->
            <div class="form-group">
              <input type="number" class="form-control" formControlName="gasolineFuelConsumption" placeholder="Gasoline (Liters)">
              <div *ngIf="carburantForm.get('gasolineFuelConsumption')?.invalid && carburantForm.get('gasolineFuelConsumption')?.touched"
                   class="error-message text-danger">
                Gasoline is required.
              </div>
            </div>

            <!-- LPG Fuel Consumption -->
            <div class="form-group">
              <input type="number" class="form-control" formControlName="lpgFuelConsumption" placeholder="LPG (Liters)">
              <div *ngIf="carburantForm.get('lpgFuelConsumption')?.invalid && carburantForm.get('lpgFuelConsumption')?.touched"
                   class="error-message text-danger">
                LPG is required.
              </div>
            </div>

            <!-- Vehicle Mileage -->
            <div class="form-group">
              <input type="number" class="form-control" formControlName="vehicleMileage" placeholder="Driven distance (Km)">
              <div *ngIf="carburantForm.get('vehicleMileage')?.invalid && carburantForm.get('vehicleMileage')?.touched"
                   class="error-message text-danger">
                Distance is required.
              </div>
            </div>

            <!-- Fuel Efficiency -->
            <div class="form-group">
              <input type="number" class="form-control" formControlName="fuelEfficiency" placeholder="Vehicle fuel efficiency (L/100Km)">
              <div *ngIf="carburantForm.get('fuelEfficiency')?.invalid && carburantForm.get('fuelEfficiency')?.touched"
                   class="error-message text-danger">
                Efficiency is required.
              </div>
            </div>

            <!-- Fuel Type Selection -->
            <div class="form-group">
              <select class="nice-select wide mb-3" formControlName="carburantType">
                <option value=""selected   disabled  >Carburant Type</option>
                <option class="option" [value]="CarburantType.Diesel">Diesel</option>
                <option class="option" [value]="CarburantType.Essence">Gasoline</option>
                <option class="option" [value]="CarburantType.Gpl">LPG</option>
              </select>
              <div *ngIf="carburantForm.get('fuelType')?.invalid && carburantForm.get('fuelType')?.touched"
                   class="error-message text-danger">
                Please select a fuel type.
              </div>
            </div>
          </div>

          <div id="bottom-wizard2 mb-2 pb-2">
            <button type="button" class="btnbackward" [routerLink]="'/' + RoutesEnum.ENERGIE">Back</button>
            <button type="submit" class="btnforward" (click)="onNext()">Continue</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
