<!-- Favicons-->
  <link rel="shortcut icon" href="/src/assets/Ecopilot/icon.png" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/assets/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/menu.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/vendors.css" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->
  <link href="/assets/css/custom.css" rel="stylesheet">
  <!-- MODERNIZR MENU -->
  <script src="/assets/js/modernizr.js"></script>
  <app-nav-acceuil [selected]="1"></app-nav-acceuil>
  <div class="container-fluid full-height" style="margin-top: 50px;">
  <div class="row ">
    <div class="col-lg-6 content-left1">
      <div class="content-left-wrapper">

        <img src="assets/img/energy.png" class="img-title" id="descriptionImage"/>
          <h2 id="descriptionTitle">Energy</h2>
          <p id="descriptionText">Energy consumption is key information in your carbon footprint. Take the questionnaire to find out more!</p>
      </div>
    </div>

    <div class="col-lg-6 content-right" id="start" style="overflow-y: hidden;">
      <div id="wizard_container">
        <form [formGroup]="energieForm" (ngSubmit)="onNext()" id="wrapped">
          <!-- Step Indicator -->
          <div class="step">
            <h3 class="main_question mt-2"><strong>2/7</strong> Energy Consumption Form</h3>

            <!-- Error Message Display -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

              <!-- Number of Employees -->
              <div class="form-group col-md-12 mb-2"> <!-- Reduced margin-bottom -->
                <label for="nbEmployee" class="form-label">Number of Employees</label>
                <input type="number" formControlName="nbEmployee" class="form-control" id="nbEmployee" placeholder="Enter number of employees">
                <small class="text-danger" *ngIf="nbEmployee?.touched && nbEmployee?.invalid">
                  Number of employees is required (minimum value: 1).
                </small>
              </div>

              <!-- Percentage of Telecommuting -->

              <div class="form-group col-md-12 mb-2"> <!-- Reduced margin-bottom -->
                <label for="pourcentageTeleTravail" class="form-label">Percentage of Telecommuting</label>
                <input type="number" formControlName="pourcentageTeleTravail" class="form-control" id="pourcentageTeleTravail" placeholder="Enter percentage of telecommuting">
                <small class="text-danger" *ngIf="pourcentageTeleTravail?.touched && pourcentageTeleTravail?.invalid">
                  Percentage of telecommuting is required (between 0 and 100).
                </small>
              </div>


            <div class="row g-1"> <!-- g-3 class reduces gap between columns -->
              <!-- Electricity -->
              <div class="form-group col-md-6 mb-2">
                <label for="electricite" class="form-label">Electricity Usage</label>
                <input type="number" formControlName="electricite" class="form-control" id="electricite" placeholder="Enter electricity usage">
                <small class="text-danger" *ngIf="electricite?.touched && electricite?.invalid">
                  Electricity usage is required.
                </small>
              </div>

              <!-- Propane -->
              <div class="form-group col-md-6 mb-2">
                <label for="propane" class="form-label">Propane Usage</label>
                <input type="number" formControlName="propane" class="form-control" id="propane" placeholder="Enter propane usage">
                <small class="text-danger" *ngIf="propane?.touched && propane?.invalid">
                  Propane usage is required.
                </small>
              </div>
            </div>

            <div class="row g-1">
              <!-- Gas -->
              <div class="form-group col-md-6 mb-2">
                <label for="gaz" class="form-label">Gas Usage</label>
                <input type="number" formControlName="gaz" class="form-control" id="gaz" placeholder="Enter gas usage">
                <small class="text-danger" *ngIf="gaz?.touched && gaz?.invalid">
                  Gas usage is required.
                </small>
              </div>

              <!-- Fuel -->
              <div class="form-group col-md-6 mb-2">
                <label for="fioul" class="form-label">Fuel Usage</label>
                <input type="number" formControlName="fioul" class="form-control" id="fioul" placeholder="Enter fuel usage">
                <small class="text-danger" *ngIf="fioul?.touched && fioul?.invalid">
                  Fuel usage is required.
                </small>
              </div>
            </div>

            <div class="row g-1">
              <!-- Charcoal -->
              <div class="form-group col-md-6 mb-2">
                <label for="charbon" class="form-label">Charcoal Usage</label>
                <input type="number" formControlName="charbon" class="form-control" id="charbon" placeholder="Enter charcoal usage">
                <small class="text-danger" *ngIf="charbon?.touched && charbon?.invalid">
                  Charcoal usage is required.
                </small>
              </div>

              <!-- Refrigerant Fluid -->
              <div class="form-group col-md-6 mb-2">
                <label for="fluideFrig" class="form-label">Refrigerant Fluid Usage</label>
                <input type="number" formControlName="fluideFrig" class="form-control" id="fluideFrig" placeholder="Enter refrigerant fluid usage">
                <small class="text-danger" *ngIf="fluideFrig?.touched && fluideFrig?.invalid">
                  Refrigerant fluid usage is required.
                </small>
              </div>
            </div>


              <!-- GPL -->
              <div class="form-group col-md-12 mb-2">
                <label for="gpl" class="form-label">GPL Usage</label>
                <input type="number" formControlName="gpl" class="form-control" id="gpl" placeholder="Enter GPL usage">
                <small class="text-danger" *ngIf="gpl?.touched && gpl?.invalid">
                  GPL usage is required.
                </small>
              </div>
            </div>

            <!-- Navigation Buttons -->
            <br/>
            <div id="bottom-wizard2  mb-2 pb-2">
              <div class="button-container">
                <button type="button" name="backward" class="backward" style="margin-right: 180px;" routerLink="/info">Back</button>
                <button type="submit" name="forward" class="forward">Continue</button>
              </div>

              <div id="bottom-wizard">
                <p id="footer-info">A tool based on ADEME Carbon Base ® version 22.0. This calculation makes it possible to establish a carbon footprint but does not serve as a Bilan Carbone ®.</p>
              </div>
            </div>

        </form>
      </div>
    </div>
  </div>




  </div>

<script src="assets/js/jquery-3.6.3.min.js"></script>
<script src="assets/js/common_scripts.min.js"></script>
<script src="assets/js/velocity.min.js"></script>
<script src="assets/js/functions.js"></script>

<!-- Wizard script -->
<script src="assets/js/survey_func.js"></script>


