<div class="container mt-5 text-center pt-5">
  <div class="d-flex justify-content-center mt-5">
    <div class="seperator w-100"></div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="/assets/Ecopilot/ecopilot_logo.png" style="width: 100px;border-radius: 8px" alt="Logo" class="img-fluid">
  </div>
  <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center mt-5" style="gap: 20px;">
    <a class="footer-font" href="#">Terms & Conditions</a>
    <a class="footer-font" href="#">Privacy Policy</a>
    <a class="footer-font" href="#">Cookies Policy</a>
    <a class="footer-font" href="#">Contact Us</a>
  </div>
  <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center mt-3" style="gap: 20px;">
    <div class="d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 2C15.87 2 19 5.13 19 9C19 14.25 12 22 12 22C12 22 5 14.25 5 9C5 5.13 8.13 2 12 2ZM7 9C7 11.85 9.92 16.21 12 18.88C14.12 16.19 17 11.88 17 9C17 6.24 14.76 4 12 4C9.24 4 7 6.24 7 9ZM12 11.5C10.6193 11.5 9.5 10.3807 9.5 9C9.5 7.61929 10.6193 6.5 12 6.5C13.3807 6.5 14.5 7.61929 14.5 9C14.5 10.3807 13.3807 11.5 12 11.5Z"
              fill="#014131"/>
      </svg>
      <div class="contact-text ms-2">
        Centre Urbain Nord BP 676, 1080 Tunis cedex, Tunisie
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z"
              fill="#014131"/>
      </svg>
      <div class="contact-text ms-2">
        contact@insat.ucar.tn
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              fill="#014131"/>
      </svg>
      <div class="contact-text ms-2">
        (+216) 71 703 829
      </div>
    </div>
  </div>
</div>
<div class="footer mt-5
p-5
w-100 d-flex flex-column flex-sm-row justify-content-center align-items-center">
  <span class="footerParagraph1 mx-auto">Copyright© EcoPilot 2025</span>
  <span class="footerParagraph2 mx-auto">
    <img src="/assets/img/Linkedin.svg" alt="Linkedin">
    <img src="/assets/img/Instagram.svg" alt="Instagram">
  </span>
</div>
